* text=auto !eol
bootstrap/.classpath -text
bootstrap/.project -text
bootstrap/build.xml -text
bootstrap/shared.jars -text
bootstrap/src-test/com/kesdip/bootstrap/DummyMain.java -text
bootstrap/src-test/com/kesdip/bootstrap/DummyPlayer.java -text
bootstrap/src-test/com/kesdip/bootstrap/KillExplorerTest.java -text
bootstrap/src-test/com/kesdip/bootstrap/MessagePumpTest.java -text
bootstrap/src-test/com/kesdip/bootstrap/RebootMessageTest.java -text
bootstrap/src/bootstrap.properties -text
bootstrap/src/bootstrapContext.xml -text
bootstrap/src/com/kesdip/bootstrap/Config.java -text
bootstrap/src/com/kesdip/bootstrap/Manager.java -text
bootstrap/src/com/kesdip/bootstrap/MessagePump.java -text
bootstrap/src/com/kesdip/bootstrap/Screen.java -text
bootstrap/src/com/kesdip/bootstrap/communication/ProtocolHandler.java -text
bootstrap/src/com/kesdip/bootstrap/content/ContentHandler.java -text
bootstrap/src/com/kesdip/bootstrap/content/ContentRetriever.java -text
bootstrap/src/com/kesdip/bootstrap/content/DescriptorHandler.java -text
bootstrap/src/com/kesdip/bootstrap/content/ResourceHandler.java -text
bootstrap/src/com/kesdip/bootstrap/content/TimingHandler.java -text
bootstrap/src/com/kesdip/bootstrap/derby/LaunchDerby.java -text
bootstrap/src/com/kesdip/bootstrap/message/ContinuationMessage.java -text
bootstrap/src/com/kesdip/bootstrap/message/DeployMessage.java -text
bootstrap/src/com/kesdip/bootstrap/message/IMessage.java -text
bootstrap/src/com/kesdip/bootstrap/message/Message.java -text
bootstrap/src/com/kesdip/bootstrap/message/PlayerProcessHelper.java -text
bootstrap/src/com/kesdip/bootstrap/message/RebootPlayerMessage.java -text
bootstrap/src/com/kesdip/bootstrap/message/ReconfigureMessage.java -text
bootstrap/src/com/kesdip/bootstrap/message/RestartPlayerMessage.java -text
bootstrap/src/com/kesdip/bootstrap/schema/1.0.sql -text
bootstrap/src/com/kesdip/bootstrap/schema/1.1.sql -text
bootstrap/src/log4j.properties -text
bootstrap/test/bootstrap.properties -text
bootstrap/test/sample.xml -text
