* text=auto !eol
common/.classpath -text
common/.project -text
common/build.xml -text
common/shared.jars -text
common/src/com/kesdip/common/domain/AccessControl.hbm.xml -text
common/src/com/kesdip/common/domain/AccessRight.hbm.xml -text
common/src/com/kesdip/common/domain/Action.hbm.xml -text
common/src/com/kesdip/common/domain/Content.hbm.xml -text
common/src/com/kesdip/common/domain/Customer.hbm.xml -text
common/src/com/kesdip/common/domain/Deployment.hbm.xml -text
common/src/com/kesdip/common/domain/Installation.hbm.xml -text
common/src/com/kesdip/common/domain/InstallationGroup.hbm.xml -text
common/src/com/kesdip/common/domain/Parameter.hbm.xml -text
common/src/com/kesdip/common/domain/Site.hbm.xml -text
common/src/com/kesdip/common/domain/StatusEntry.hbm.xml -text
common/src/com/kesdip/common/domain/User.hbm.xml -text
common/src/com/kesdip/common/domain/generated/AccessControl.java -text
common/src/com/kesdip/common/domain/generated/AccessRight.java -text
common/src/com/kesdip/common/domain/generated/Action.java -text
common/src/com/kesdip/common/domain/generated/Content.java -text
common/src/com/kesdip/common/domain/generated/Customer.java -text
common/src/com/kesdip/common/domain/generated/Deployment.java -text
common/src/com/kesdip/common/domain/generated/Group.java -text
common/src/com/kesdip/common/domain/generated/Installation.java -text
common/src/com/kesdip/common/domain/generated/InstallationGroup.java -text
common/src/com/kesdip/common/domain/generated/Parameter.java -text
common/src/com/kesdip/common/domain/generated/Site.java -text
common/src/com/kesdip/common/domain/generated/StatusEntry.java -text
common/src/com/kesdip/common/domain/generated/User.java -text
common/src/com/kesdip/common/util/StreamUtils.java -text
common/src/inactive_hibernate.cfg.xml -text
demos/AdPlayerDemo/.classpath -text
demos/AdPlayerDemo/.project -text
demos/AdPlayerDemo/README.txt -text
demos/AdPlayerDemo/demo.properties -text
demos/AdPlayerDemo/examples.jar -text
demos/AdPlayerDemo/jdom.jar -text
demos/AdPlayerDemo/jvlc-core-0.9.0-SNAPSHOT-20080727.jar -text
demos/AdPlayerDemo/rome-1.0RC1.jar -text
demos/AdPlayerDemo/src/com/kesdip/player/Player.java -text
demos/AdPlayerDemo/src/com/kesdip/player/RssTickerSource.java -text
demos/AdPlayerDemo/src/com/kesdip/player/StringTickerSource.java -text
demos/AdPlayerDemo/src/com/kesdip/player/TickerPanel.java -text
demos/AdPlayerDemo/src/com/kesdip/player/TickerSource.java -text
demos/AdPlayerDemo/src/log4j.xml -text
etc/.project -text
etc/ant/common-targets.xml -text
etc/ant/create-db.xml -text
etc/build.properties -text
etc/build.xml -text
etc/lib/ant-contrib/ant-contrib-1.0b3.jar -text
etc/lib/apache-commons/commons-collections-3.1.jar -text
etc/lib/apache-commons/commons-logging-1.0.4.jar -text
etc/lib/derby/derby.jar -text
etc/lib/derby/derbyclient.jar -text
etc/lib/dom4j/dom4j-1.6.1.jar -text
etc/lib/hibernate-tools/freemarker.jar -text
etc/lib/hibernate-tools/hibernate-tools.jar -text
etc/lib/hibernate/antlr-2.7.6.jar -text
etc/lib/hibernate/asm-attrs.jar -text
etc/lib/hibernate/asm.jar -text
etc/lib/hibernate/cglib-2.1.3.jar -text
etc/lib/hibernate/hibernate3.jar -text
etc/lib/hibernate/jta.jar -text
etc/lib/jdom/jdom.jar -text
etc/lib/jvlc/jvlc-core-0.9.0-SNAPSHOT-20080727.jar -text
etc/lib/log4j/log4j-1.2.14.jar -text
etc/lib/spring/spring.jar -text
etc/lib/sun/examples.jar -text
etc/lib/sun/rome-1.0RC1.jar -text
etc/sql/create-database.sql -text
etc/sql/drop-database.sql -text
etc/sql/static-data.sql -text
etc/sql/test-data.sql -text
player/.classpath -text
player/.project -text
player/appContext.xml -text
player/appContextForFrames.xml -text
player/appContextFullScreen.xml -text
player/build.xml -text
player/shared.jars -text
player/src/com/kesdip/player/DeploymentContents.java -text
player/src/com/kesdip/player/DeploymentSettings.java -text
player/src/com/kesdip/player/Player.java -text
player/src/com/kesdip/player/components/AbstractComponent.java -text
player/src/com/kesdip/player/components/Component.java -text
player/src/com/kesdip/player/components/ComponentException.java -text
player/src/com/kesdip/player/components/FullScreenComponent.java -text
player/src/com/kesdip/player/components/RootContainer.java -text
player/src/com/kesdip/player/components/SimpleContainer.java -text
player/src/com/kesdip/player/components/Ticker.java -text
player/src/com/kesdip/player/components/Video.java -text
player/src/com/kesdip/player/components/ticker/RssTickerSource.java -text
player/src/com/kesdip/player/components/ticker/StringTickerSource.java -text
player/src/com/kesdip/player/components/ticker/TickerPanel.java -text
player/src/com/kesdip/player/components/ticker/TickerSource.java -text
player/src/com/kesdip/player/helpers/ExitKeyListener.java -text
player/src/com/kesdip/player/helpers/PlayerUtils.java -text
player/src/com/kesdip/player/registry/ContentRegistry.java -text
player/src/com/kesdip/player/registry/ContentRegistryImpl.java -text
player/src/log4j.xml -text
