admin-console/WebRoot/WEB-INF/classes/com
admin-console/WebRoot/WEB-INF/classes/log4j.properties
admin-console/WebRoot/WEB-INF/classes/messages.properties
admin-console/build
admin-console/dist
bootstrap/bin
bootstrap/build
bootstrap/dist
business-logic/bin
business-logic/build
business-logic/dist
common/bin
common/build
common/dist
designer-preview/lib/*.jar
