<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.kesdip.designer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Designer Perspective"
            class="com.kesdip.designer.Perspective"
            id="com.kesdip.designer.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.kesdip.designer.application"
            name="Ke.S.Di.P. E.P.E. Designer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Ke.S.Di.P. E.P.E. Designer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kesdip.designer.editor.LayoutEditor"
            default="false"
            id="com.kesdip.designer.LayoutEditor"
            name="Layout Editor">
      </editor>
      <editor
            class="com.kesdip.designer.editor.DeploymentEditor"
            contributorClass="com.kesdip.designer.editor.DeploymentActionBarContributor"
            default="false"
            extensions=".dep.xml"
            id="com.kesdip.designer.DeploymentEditor"
            name="Deployment Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.kesdip.designer.handler.NewFileHandler"
            id="com.kesdip.designer.NewCommand"
            name="New">
      </command>
      <command
            defaultHandler="com.kesdip.designer.handler.OpenFileHandler"
            id="com.kesdip.designer.OpenCommand"
            name="Open">
      </command>
      <command
            defaultHandler="com.kesdip.designer.handler.SaveFileHandler"
            id="com.kesdip.designer.SaveCommand"
            name="Save">
      </command>
      <command
            defaultHandler="com.kesdip.designer.handler.SaveAsFileHandler"
            id="com.kesdip.designer.SaveAsCommand"
            name="SaveAs">
      </command>
      <command
            defaultHandler="com.kesdip.designer.handler.ExitCommand"
            id="com.kesdip.designer.ExitCommand"
            name="Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.kesdip.designer.FileMenu"
               label="File">
            <command
                  commandId="com.kesdip.designer.NewCommand"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="com.kesdip.designer.OpenCommand"
                  label="Open"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.FileSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.kesdip.designer.SaveCommand"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="com.kesdip.designer.SaveAsCommand"
                  label="Save As"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.FileSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.kesdip.designer.ExitCommand"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.kesdip.designer.EditMenu"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.EditSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.EditSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.kesdip.designer.ToolsMenu"
               label="Tools">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show View"
                  style="push">
            </command>
            <separator
                  name="com.kesdip.designer.ToolsSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.kesdip.designer.HelpMenu"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About Designer"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Contents"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
